#headmaker input {
	width: 60%;
	font-size: .8em;
}

#headmaker label {
	width: 35%;
}

#headmaker {
	width: 65%;
	max-width: 50em;
}

.tag {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	border: 0;
	background-color: #041315;
}

.tag:nth-child(odd) {
	background-color: #011b23;
}

.category {
	padding: 0;
	margin: 0;
	background-color: #3b4362;
	border: 1px solid #3b4362;
	border-radius: 2px;
}

main {
	display: flex;
	justify-content: space-around;
}

body {
	background-color: #01242e;
	color: white;
	font-size: 1.2rem;
}

legend {
	font-size: 1.6em;
}




#right {
	width: 30%;
}

#output {
	user-select: all;
}